@{
    ViewBag.Title = "BCA Portfolio CRUD Tool";
}

<div data-ng-app="tradesApp">
        <div ng-view></div>
 </div>

@section scripts
{
    <script src="/TreeGrid/Grid/GridE.js"></script>
    <script src="/js/tradesApp.js"></script>
    <script src="/js/services/allocationsTreeGridBuilder.js"></script>
    <script src="/js/services/allocationsService.js"></script>
    <script src="/js/services/utils.js"></script>
    <script src="/js/directives/emAllocationsGrid.js"></script>
    <script src="/js/controllers/allocationsController.js"></script>
}