@{
    ViewBag.Title = "BCA Portfolio CRUD Tool";
}

<div data-ng-app="portfoliosApp">
    <div ng-view></div>
</div>

@section scripts
{
    <script src="/Scripts/app/portfoliosApp.js"></script>
    <script src="/Scripts/lib/TreeGrid/Grid/GridE.js"></script>
    <script src="/Scripts/app/services/allocationsTreeGridBuilder.js"></script>
    <script src="/Scripts/app/services/allocationsService.js"></script>
    <script src="/Scripts/app/services/utils.js"></script>
    <script src="/Scripts/app/directives/emAllocationsGrid.js"></script>
    <script src="/Scripts/app/controllers/allocationsController.js"></script>
}