
<div class="container-fluid" data-ng-controller="portofolios as vm">
    <div class="row-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label>Service:</label>
                </div>
                <div class="col-sm-3">
                    <select id="portofolio-service" class="form-control" ng-model="portofolio.service" ng-required="true">
                        <option value="">{Service}</option>
                        <option value="1">BCA</option>
                        <option value="2">GIS</option>
                        <option value="3">GPS</option>
                        <option value="4">USBS</option>
                        <option value="5">USIS</option>
                        <option value="6">GRES</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Type:</label>
                </div>
                <div class="col-sm-3">
                    <select id="portofolio-service" class="form-control" ng-model="portofolio.type" ng-required="true">
                        <option value="">{Portofolio Type}</option>
                        <option value="1">Absolute</option>
                        <option value="2">Weighted</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Name:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="portofolio.name" id="portofolio-name" placeholder="{Portofolio Name}" ng-required="true">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Benchmark:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="portofolio.benchmark" id="portofolio-service" placeholder="{Benchmark}" ng-required="true">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Duration:</label>
                </div>
                <div class="col-sm-3">
                    <select id="portofolio-service" class="form-control" ng-model="portofolio.duration">
                        <option value="">{Duration}</option>
                        <option value="1">Below Benchmark</option>
                        <option value="2">Slightly below benchmark</option>
                        <option value="3">Benchmark</option>
                        <option value="4">Slightly above benchmark</option>
                        <option value="5">Above Benchmark</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Updated/Created Date:</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" ng-model="portofolio.updateddate" id="portofolio-service" placeholder="" disabled="disabled">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Performance Model:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="portofolio.performanceModel" id="portofolio-service" placeholder="{Performance Model}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Status:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="portofolio.status" id="portofolio-service" placeholder="{Status}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Portofolio Comments:</label>
                </div>
                <div class="col-sm-12">
                    <textarea class="form-control" ng-model="portofolio.comments" id="portofolio-service" placeholder="{Comments}" cols="500" rows="5"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <!--[if lte IE 8]>
            <script>
                document.createElement('em-allocations-grid');
            </script>
        <![endif]-->
        <br />
        <br />
        <br />
        <div ng-controller="allocationsController">
            <em-allocations-grid moreinfocontentcalled="moreInfoContentCalled" config="allocationsGridConfig" name="demo122"></em-allocations-grid>
        </div>
    </div>
    <div>
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ng-click="update(portofolio)">Save</button><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><button class="btn btn-primary pull-right" ng-click="reset()">Cancel</button>
        </div>
    </div>
    </div>
</div>

