<div class="container-fluid">
    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select a service:</label>
                    </div>
                    <div class="col-sm-4">
                        <select id="portofolio-service" class="form-control" ng-model="portofolio.service" ng-required="true">
                            <option value="">{Service}</option>
                            <option value="1">BCA</option>
                            <option value="2">GIS</option>
                            <option value="3">GPS</option>
                            <option value="4">USBS</option>
                            <option value="5">USIS</option>
                            <option value="6">GRES</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select a portfolio:</label>
                    </div>
                    <div class="col-sm-6">
                        <select id="portofolio-portfolio" class="form-control" ng-model="portofolio.type" ng-required="true">
                            <option value="">{Portfolio}</option>
                            <option value="1">Model Low Risk Portfolio</option>
                            <option value="2">Model medium risk Portfolio (40-60% Equities)</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <span><strong><i>OR... </i></strong></span><a href="/#/portfolio/create">Create a new portfolio</a>
                </div>
            </div>
        </form>
    </div>
</div>
