<div ng-controller="portfoliosController">
<div class="container-fluid">
    <div class="row-fluid">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select a service:</label>
                    </div>
                    <div class="col-sm-4">
                        <span class="nullable">
                            <select id="portofolio-service" class="form-control" ng-model="services" ng-options="s.service_code for s in services">
                                <option value="">{Service}</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select a portfolio:</label>
                    </div>
                    <div class="col-sm-6">
                        <span class="nullable">
                            <select id="portofolio-portfolio" class="form-control" ng-model="portfolios" ng-options="p.name for p in portfolios">
                                <option value="">{Portfolio}</option> 
                            </select>
                        </span>
                    </div>
                
                </div>
                <br />
                <div class="row">
                    <span><strong><i>OR... </i></strong></span><a href="/#/portfolio/create">Create a new portfolio</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
