AllocationsCRUD/AllocationsCRUD/bin/
AllocationsCRUD/AllocationsCRUD/obj/
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/
AllocationsCRUD/packages/
AllocationsCRUD/AllocationsCRUD/App_Data/AllocationsCRUD.Models.TodoListContext.mdf
AllocationsCRUD/AllocationsCRUD/App_Data/AllocationsCRUD.Models.TodoListContext_log.ldf
